@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTHakgyoansimSamulhamR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimSamulhamR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--white);
}

:root {
  --white: #f1f1f1;
  --black: #181717;
  --yellow: #ececec;
  --blue: #1212128e;
  --dark1: #209c94e1;
  --white2: #add0e7;
  --shadow: rgb(224, 224, 224);
  --noshadow: #ffffff00;
  --darkone: url(../img/dark_back.svg);
  --lightone: url(../img/gradient-haikei.svg);
  --under: url(../img/underfis.gif);
  --flying: url(../img/);
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  z-index: 4;
}

header h2 {
  width: 50px;
  position: absolute;
  left: 5%;
  top: 18px;
  font-size: 30px;
  font-family: "TTHakgyoansimSamulhamR";
  font-weight: 100;
}

header h2 a {
  color: var(--black);
}

header button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

header button:hover {
  transform: scale(1.3);
  transition: 0.3s ease transform;
}

header button svg {
  width: 100%;
}

header nav {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 3%;
  position: absolute;
  top: 18px;
}

header nav span {
  position: relative;
  width: 120px;
  text-align: center;
  color: #050505;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
  color: var(--black);
  font-size: 18px;
  cursor: pointer;
}

header nav span:before, nav span:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease transform;
}

header nav span:before {
  top: 0;
  left: 11px;
  width: 6px;
  height: 6px;
}

header nav span:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

header nav span:before {
  background-color: rgb(143, 178, 228);
}

header nav span:after {
  background-color: var(--black);
}

header nav span:hover, .active {
  opacity: 0.6;
}

header nav span:hover:before, nav span:hover:after, .active:before, .active:after {
  transform: scale(3);
}

.display_size {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-family: "Pretendard-Regular";
  color: #333;
  font-size: 13px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper .swiper-pagination-bullet {
  transform: scale(1.1);
  background: var(--black);
  opacity: 1;
  width: 13px;
  height: 13px;
}

.swiper .swiper-pagination-bullet-active {
  background-color: rgb(167, 196, 238);
}

.swiper-slide:nth-of-type(1) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-flow: row wrap;
}

.octo {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: -2;
  left: 0px;
  opacity: 1;
  overflow: hidden;
  background: var(--flying);
  background-position: center;
  background-size: cover;
  transform: scaleX(-1);
  bottom: 50px;
}

.slide1_text {
  width: 800px;
  height: 350px;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide-bar {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%) rotateZ(15deg);
  width: 50px;
  height: 700px;
  z-index: 10;
}

.bar {
  width: 6px;
  height: 270px;
  border-radius: 100px;
  background-color: var(--black);
  position: relative;
}

.bar .bar_a {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -30px;
  left: -32px;
}

.text-block {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--white);
}

.text-block h1 {
  font-family: "Raleway", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 2px;
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
  color: var(--black);
}

#textone {
  z-index: 6;
  clip-path: polygon(0 0, 18% 0, 8% 100%, 0% 100%);
}

#texttwo {
  z-index: 4;
  clip-path: polygon(0 0, 91% 0, 81% 100%, 0% 100%);
}

.ocean {
  height: 11%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
  opacity: 0.2;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 9s cubic-bezier(0.5, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.swiper-slide:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.ocean2 {
  height: 35%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
  opacity: 0.2;
}

.wave2 {
  background: url(../img/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 508px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.profile {
  width: 1000px;
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: var(--black);
  font-weight: 800;
  transform: translateX(-300px);
  transition: all 2s;
  opacity: 0;
}

.profile_text2 li:nth-of-type(5) {
  width: 280px;
}

.pro_left {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.pro_left p {
  width: 100%;
  font-family: "Pretendard-Regular";
  text-align: left;
  font-size: 22px;
  margin-top: 20px;
}

.pro_left h1 {
  width: 100%;
  font-weight: 200;
  font-size: 60px;
  text-align: left;
  height: 120px;
  margin-top: -10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--black);
}

.pro_left ul {
  width: 30%;
  height: 120px;
  float: left;
  text-align: left;
  font-size: 17px;
}

.pro_left > ul > li {
  margin-bottom: 8px;
  font-family: "Pretendard-Regular";
}

.pt {
  width: 50%;
  position: relative;
}

.photobox {
  width: 450px;
  height: 450px;
  background-color: rgb(226, 226, 226);
  border-radius: 100%;
  transform: rotate(-2deg);
  margin-left: -60px;
  margin-top: -30px;
  overflow: hidden;
  background: var(--lightone);
}

.photobox1 {
  width: 350px;
  height: 350px;
  background-color: rgb(226, 226, 226);
  border-radius: 100%;
  transform: rotate(-2deg);
  margin-top: 80px;
  z-index: 3;
  position: absolute;
  top: 0px;
  right: 20px;
  overflow: hidden;
}

.photobox1 img {
  width: 100%;
  height: 100%;
}

.skill_back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-flow: row wrap;
}

.sk_card {
  border-radius: 10px;
  width: 1200px;
  height: 450px;
  position: relative;
  background-color: var(--yellow);
  box-shadow: 1px 2px 300px 1px rgba(245, 245, 245, 0.055);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  transform: translateY(200px);
  transition: all 2s;
  opacity: 0;
}

.sk_card .user-card {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sk_card .user-card p {
  font-size: 25px;
  font-weight: 800;
  color: var(--black);
}

.sk_card .more-info {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  color: var(--white);
}

.sk_card .more-info .iconbox {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-start;
}

.iconbox article {
  width: 150px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 45px;
  flex-flow: row wrap;
  float: left;
}

.iconbox article p {
  font-size: 15px;
  font-family: "Pretendard-Regular";
  width: 100%;
  color: var(--black);
  margin-top: 10px;
  font-weight: 600;
}

.iconbox article img {
  width: 60px;
  height: 60px;
}

.swiper-slide:nth-of-type(3) {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ocean3 {
  height: 25%;
  width: 100%;
  position: absolute;
  top: -30px;
  left: 0;
  background: #015871;
  opacity: 0.2;
  transform: scale(1, -1);
  z-index: -5;
}

.wave3 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -197px;
  transform: scale(1, -1);
  width: 6400px;
  height: 300px;
  animation: wave 9s cubic-bezier(0.5, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.swiper-slide:nth-of-type(3) button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  font-size: 20px;
}

.swiper-slide:nth-of-type(3) nav.amazing-tabs {
  background-color: var(--white);
  border-radius: 2.5rem;
  user-select: none;
  padding-top: 1rem;
  float: left;
  height: 650px;
  width: 100px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-left: 76px;
  box-shadow: inset 10px 10px 10px 1px var(--shadow);
  border: 1px solid rgb(224, 224, 224);
  position: absolute;
  left: 6px;
  transform: translateX(-300px);
  transition: all 2s;
  opacity: 0;
}

.swiper-slide:nth-of-type(3) .main-tabs-wrapper {
  position: relative;
}

ul.main-tabs {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

ul.main-tabs li {
  display: inline-flex;
  position: relative;
  padding: 1.5rem;
  z-index: 1;
  border-radius: 100%;
  height: 75px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  margin-top: 25px;
}

ul.main-tabs li .round-button img {
  width: 30px;
  height: 30px;
  z-index: -5;
}

.avatar,
.avatar img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  pointer-events: none;
}

.avatar img {
  object-fit: cover;
}

.round-button {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
}

.round-button:hover,
.round-button.active {
  color: var(--round-button-active-color);
}

.round-button svg {
  pointer-events: none;
  height: 2.8rem;
  width: 2.8rem;
  transform: translate(0, 0);
}

.main-slider {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0px;
  padding: 1.5rem;
  z-index: 0;
  transition: transform 0.4s ease-in-out;
  transform: translateY(var(--translate-main-slider));
}

.main-slider-circle {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  transition: background-color 0.4s ease-in-out;
  box-shadow: 0 0.8em 0.3em hsla(0, 0%, 0%, 0.3), 0 0 0.2em hsla(0, 0%, 0%, 0.1) inset, 0 -1em 0.5em hsla(0, 0%, 0%, 0.15) inset;
}

.animate-jello {
  animation: jello-horizontal 0.9s both;
  background-color: #f1f1f1;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.filters-container {
  overflow: hidden;
  padding: 0 3rem;
  transition: max-height 0.4s ease-in-out;
  max-height: var(--filters-container-height);
}

.filters-wrapper {
  position: relative;
  transition: opacity 0.2s ease-in-out;
  opacity: var(--filters-wrapper-opacity);
}

.filter-tabs {
  border-radius: 1rem;
  padding: 0.3rem;
  overflow: hidden;
  background-color: var(--orange-50);
}

.filter-tabs li {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1 0 33.33%;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  flex-grow: 1;
  height: 3rem;
  padding: 0 1.5rem;
  color: var(--orange-700);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

.filter-button.filter-active {
  transition: color 0.4s ease-in-out;
  color: var(--grey-900);
}

.pjwrap:nth-of-type(1) {
  transform: translateY(-200px);
  transition: all 2s;
  opacity: 0;
}

.pjwrap:nth-of-type(2) {
  display: none;
}

.pjwrap:nth-of-type(3) {
  display: none;
}

.pjwrap:nth-of-type(4) {
  display: none;
}

.pjwrap:nth-of-type(5) {
  display: none;
}

.pjbox1 {
  width: 1100px;
  height: 700px;
  background-color: var(--white);
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 0px 40px 1px var(--white);
  box-shadow: inset 10px 10px 10px 1px var(--yellow);
  border: 1px solid rgb(219, 219, 219);
}

.pjbox1 img {
  width: 100%;
  position: absolute;
  z-index: 4;
}

.pjbox1 .imgbox {
  width: 600px;
  height: 650px;
  border-radius: 0% 0% 100% 100%;
  position: absolute;
  top: -30px;
  left: -60px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.pjbox1 .imgbox .imgone {
  width: 660px;
  height: 600px;
  border-radius: 100%;
  background-image: var(--lightone);
}

.pjbox1 .imgbox .in_fullimg {
  width: 400px;
  height: 1500px;
  border-radius: 30px;
  position: absolute;
  top: 0px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid var(--black);
}

.pjwrap:nth-of-type(3) .pjbox1 .imgbox .in_fullimg {
  width: 400px;
  height: 2900px;
}

.pjwrap:nth-of-type(4) .pjbox1 .imgbox .in_fullimg {
  width: 400px;
  height: 1350px;
}

.pjwrap:nth-of-type(5) .pjbox1 .imgbox .in_fullimg {
  width: 400px;
  height: 1100px;
}

.in_fullimg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.pjbox1 .imgbox .in_fullimg .hoverbox {
  position: absolute;
  width: 130px;
  height: 50px;
  z-index: 5;
  top: 250px;
  left: 138px;
  border: 1.5px solid #505050;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  background-color: #e4e4e4;
  font-family: "Pretendard-Regular";
  font-size: 14px;
}

.pjtextbox {
  width: 500px;
  height: 95%;
  margin-right: 20px;
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pjtextbox p {
  font-family: "Pretendard-Regular";
}

.pjtextbox .wavetext {
  width: 100%;
  font-family: "Pretendard-Regular";
}

.pjwrap:nth-of-type(3) h1 {
  font-size: 57px;
}

.animation-title {
  color: var(--black);
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  line-height: 0.8;
  letter-spacing: 0.1em;
  font-family: -apple-system, "avenir next", avenir, roboto, noto, "helvetica neue", helvetica, ubuntu, "franklin gothic medium", "century gothic", sans-serif;
}

.wavet {
  animation: moveTheWave 2400ms linear infinite;
  stroke-dasharray: 0 16 101 16;
}

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }
}
.pjtextbox h2 {
  font-family: "Pretendard-Regular";
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 3px;
  color: var(--black);
}

.pjtextbox .tdata {
  width: 100%;
  font-size: 14px;
  color: #7a7a7a;
}

.pjtextbox .tool {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  margin-bottom: 5px;
}

.pjtextbox > .tool > p {
  width: 90px;
  height: 35px;
  border: 1px solid rgb(133, 133, 133);
  float: left;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  border-radius: 5px;
  color: var(--black);
}

.pjtextbox .ex {
  width: 98%;
  letter-spacing: 1px;
  height: 250px;
  display: flex;
  line-height: 30px;
  font-size: 18px;
  text-align: left;
  font-weight: 500;
  font-family: "Pretendard-Regular";
  justify-content: center;
  margin-bottom: 15px;
  align-items: center;
  flex-flow: row wrap;
  padding: 0px 35px;
  color: var(--black);
}

.btn-wrap {
  width: 85%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.btn-wrap .block-container {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0px 30px;
  transition: 200ms;
  perspective: 800px;
}
.btn-wrap .block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  border-radius: 10px;
  transition: 200ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 5px 5px 130px rgba(238, 238, 238, 0.662745098);
}
.btn-wrap .block-container .btn-back-1, .btn-wrap .block-container .btn-back-2 {
  background: linear-gradient(135deg, rgba(219, 235, 241, 0.7450980392) -5%, var(--white2) 80%);
}
.btn-wrap .block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-wrap .block-container .btn-front a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.btn-wrap .block-container .btn-front a img {
  width: 60%;
  height: 60%;
  opacity: 0.9;
}
.btn-wrap .block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
  background: linear-gradient(135deg, rgba(131, 192, 212, 0.7450980392) -5%, var(--white2) 80%);
}
.btn-wrap .block-container:hover > .btn-front {
  transform: translateZ(90px) translateY(-1px) rotateX(0deg) rotateY(15deg);
}

.btn-wrap .block-container:nth-of-type(1) > .btn-front:hover a img {
  display: none;
}
.btn-wrap .block-container:nth-of-type(1) > .btn-front:hover ::after {
  content: "view site";
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: "Pretendard-Regular";
}

.btn-wrap .block-container:nth-of-type(2) > .btn-front:hover a img {
  display: none;
}
.btn-wrap .block-container:nth-of-type(2) > .btn-front:hover ::after {
  content: "view docu";
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: "Pretendard-Regular";
}

.swiper-slide:nth-of-type(4) {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ct_info {
  width: 500px;
  height: 300px;
  transform: translateY(-200px);
  transition: all 3s;
  opacity: 0;
}

.ct_info h5 {
  font-family: "Pretendard-Regular";
  color: var(--black);
  font-size: 14px;
  height: 18px;
  height: 20px;
}

.ct_info p {
  font-family: "Pretendard-Regular";
  color: var(--black);
  font-size: 17px;
  height: 30px;
  text-decoration: underline;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.swiper-slide:nth-of-type(4) .tw {
  width: 95%;
  position: absolute;
  bottom: -20px;
  font-size: 320px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 900;
  font-family: "Pretendard-Regular";
}

.ocean1 {
  height: 11%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #015871;
  opacity: 0.2;
  transform: scale(1, -1);
}

.wave1 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -196px;
  transform: scale(1, -1);
  width: 6400px;
  height: 300px;
  animation: wave 9s cubic-bezier(0.5, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.swiper-slide:nth-of-type(4) .tw .con {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Pretendard-Regular";
}

.water-fill {
  animation: twave 1.3s infinite linear, fill-up 10s infinite ease-out alternate;
  font-family: "Pretendard-Regular";
}

@keyframes twave {
  0% {
    x: -400px;
  }
  100% {
    x: 0;
  }
}
@keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}